include daily-table.pug

mixin dailyContainer(daily, pageTitle, date)
    if daily
        div.daily-container
            form(method="post")
                if pageTitle==="Home" 
                    h2 오늘의 목표
                    p="남은 시간 "
                        span.daily-container__ramaining-time
                else if pageTitle==="Previous Daily" 
                    h2.daily-container__previousDaily-date=date
                +dailyTable(daily)
            div.daily-container__progress-bar-container
                h4 진행 상황: 
                    span(class="progress-point")
                progress(max="100")
            if pageTitle==="Home"
                div.daily-container__edit-btn-container
                    a(href="/daily/edit") 
                        button 수정하기
            else if pageTitle==="Previous Daily"
                div.daily-container__back-btn-container
                    a(href="/")
                        button="뒤로 가기"

    else
        if pageTitle==="Home"    
            div.no-daily-messeage-box
                p 아직 오늘의 목표를 설정하지 않으셨습니다.
                p 지금 새로 만들어보세요! 
                a(href="/daily/add")
                    button 새 목표 작성
        else if pageTitle==="Previous Daily"
            div.no-daily-messeage-box
                p 해당 일자에는 일일 목표가 없습니다.
            div.daily-container__back-btn-container
                a(href="/")
                    button="뒤로 가기"
    if pageTitle==="Home"            
        div.previous-daily-search
            p 이전 목표 조회
            p 
                input(type="date", class="previous-daily")