mixin side-menu(pageTitle)
    aside.fix
        ul
            li.fix-btn-container
                i.fas.fa-dot-circle#fix-btn
            if pageTitle.includes("Daily")
                li.highlighted.main-menu
                    a(href="/") 일간목표
                    div.detail.hidden
                        ul
                            li 
                                a(href="/") 오늘의 목표
                            li 
                                a(href="/daily/edit/") 오늘의 목표 수정
                            li 
                                a(href="/daily/previous/") 이전 목표 조회
            else
                li.main-menu
                    a(href="/") 일간목표
                    div.detail.hidden
                        ul
                            li 
                                a(href="/") 오늘의 목표
                            li 
                                a(href="/daily/edit") 오늘의 목표 수정
                            li 
                                a(href="/daily/previous/") 이전 목표 조회


            if pageTitle.includes("Weekly")
                li.highlighted.main-menu 
                    a(href="/weekly/") 주간목표
                    div.detail.hidden
                        ul
                            li 
                                a(href="/weekly/") 이번 주 목표
                            li 
                                a(href="/weekly/edit/") 이번 주 목표 수정
                            li 
                                a(href="/weekly/previous/") 지난 주 목표 조회
            else
                li.main-menu
                    a(href="/weekly/") 주간목표
                    div.detail.hidden
                        ul
                            li 
                                a(href="/weekly/") 이번 주 목표
                            li 
                                a(href="/weekly/edit/") 이번 주 목표 수정
                            li 
                                a(href="/weekly/previous/") 지난 주 목표 조회


            if pageTitle.includes("Monthly")
                li.highlighted.main-menu
                    a(href="/monthly/") 월간목표
                    div.detail.hidden
                        ul
                            li 
                                a(href="/monthly/") 이번 달 목표
                            li 
                                a(href="/monthly/edit/") 이번 달 목표 수정
                            li 
                                a(href="/monthly/previous/") 지난 달 목표 조회
            else
                li.main-menu
                    a(href="/monthly/") 월간목표
                    div.detail.hidden
                        ul
                            li 
                                a(href="/monthly/") 이번 달 목표
                            li 
                                a(href="/monthly/edit/") 이번 달 목표 수정
                            li 
                                a(href="/monthly/previous/") 지난 달 목표 조회
            if pageTitle.includes("Yearly")
                li.highlighted.main-menu
                    a(href="/yearly/") 연간목표
                    div.detail.hidden
                        ul
                            li 
                                a(href="/yearly/") 올해 목표
                            li 
                                a(href="/yearly/edit/") 올해 목표 수정
                            li 
                                a(href="/yearly/previous/") 작년 목표 조회
            else
                li.main-menu
                    a(href="/yearly/") 연간목표
                    div.detail.hidden
                        ul
                            li 
                                a(href="/yearly/") 올해 목표
                            li 
                                a(href="/yearly/edit/") 올해 목표 수정
                            li 
                                a(href="/yearly/previous/") 작년 목표 조회