mixin side-menu(pageTitle)
    aside
        ul
            if pageTitle.includes("Daily")
                li.highlighted.main-menu
                    a(href="/") 일간목표
                    div.detail.hidden
                        ul
                            li 
                                a(href="/") 오늘의 목표
                            li 
                                a(href="/daily/edit") 오늘의 목표 수정
                            li 
                                a(href="/") 이전 목표 조회
                                //- `/daily/${yesterday}` 미들웨어에 어제, 오늘 날짜 넣어놓기
            else
                li.main-menu
                    a(href="/") 일간목표
                    div.detail.hidden
                        ul
                            li 
                                a(href="/") 오늘의 목표
                            li 
                                a(href="/daily/edit") 오늘의 목표 수정
                            li 
                                a(href="/") 이전 목표 조회


            if pageTitle.includes("Weekly")
                li.highlighted.main-menu 
                    a(href="/weekly/") 주간목표
                    div.detail.hidden
                        ul
                            li 
                                a(href="/weekly/") 이번 주 목표
                            li 
                                a(href="/") 이번 주 목표 수정
                            li 
                                a(href="/") 지난 주 목표 조회
            else
                li.main-menu
                    a(href="/weekly/") 주간목표
                    div.detail.hidden
                        ul
                            li 
                                a(href="/weekly/") 이번 주 목표
                            li 
                                a(href="/") 이번 주 목표 수정
                            li 
                                a(href="/") 지난 주 목표 조회


            if pageTitle.includes("Monthly")
                li.highlighted.main-menu
                    a(href="/") 월간목표
                    div.detail.hidden
                        ul
                            li 
                                a(href="/") 이번 달 목표
                            li 
                                a(href="/") 이번 달 목표 수정
                            li 
                                a(href="/") 지난 달 목표 조회
            else
                li.main-menu
                    a(href="/") 월간목표
                    div.detail.hidden
                        ul
                            li 
                                a(href="/") 이번 달 목표
                            li 
                                a(href="/") 이번 달 목표 수정
                            li 
                                a(href="/") 지난 달 목표 조회
            if pageTitle.includes("Yearly")
                li.highlighted.main-menu
                    a(href="/") 연간목표
                    div.detail.hidden
                        ul
                            li 
                                a(href="/") 올해 목표
                            li 
                                a(href="/") 올해 목표 수정
                            li 
                                a(href="/") 작년 목표 조회
            else
                li.main-menu
                    a(href="/") 연간목표
                    div.detail.hidden
                        ul
                            li 
                                a(href="/") 올해 목표
                            li 
                                a(href="/") 올해 목표 수정
                            li 
                                a(href="/") 작년 목표 조회