@keyframes shakeBin {
  0% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(30deg);
  }
  40% {
    transform: rotateZ(-30deg);
  }
  60% {
    transform: rotateZ(30deg);
  }
  80% {
    transform: rotateZ(-30deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.editGoal__form__form-container {
  margin-top: 50px;
  background-color: rgba(47, 54, 64, 0.3);
  padding: 10px;
  border: solid 1px rgba(245, 246, 250, 0.5);
  border-radius: 10px;
  .editGoal__form__form-container__date-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      span {
        margin-right: 5px;
      }
    }
  }
  ul {
    background-color: rgba(245, 246, 250, 1);
    border: rgba(56, 173, 169, 0.5) solid 1px;
    border-radius: 10px;
    padding: 10px;
    li {
      margin-bottom: 5px;
      .li__container.importance-and-content-setting-box {
        select {
          font-weight: 600;
          color: white;
          background-color: rgb(27, 213, 234, 0.8);
        }
        i {
          margin-left: 5px;
          color: rgb(27, 213, 234);
          cursor: pointer;
          &:hover {
            animation: shakeBin 0.5s linear;
            opacity: 0.5;
          }
        }
      }
      .measurement-setting-box {
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
        div {
          display: flex;
          &.hidden {
            display: none;
          }
          align-items: center;
          margin-bottom: 5px;
          span {
            color: black;
            font-size: 12px;
            margin-right: 5px;
          }
        }
      }
    }
  }

  .editGoal__form__form-container__btn-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    button {
      margin-right: 10px;
    }
  }
}
