.editGoal__form__form-container {
  width: fit-content;
  margin-top: 50px;
  background-color: #191919;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255, 0.5);
  border-radius: 10px;
  .editGoal__form__form-container__date-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      span {
        margin-right: 5px;
      }
    }
  }
  ul {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    li {
      margin-bottom: 5px;
      .li__container.importance-and-content-setting-box {
        select {
          font-weight: 600;
          color: white;
          background-color: #191919;
        }
        i {
          margin-left: 5px;
          color: black;
          cursor: pointer;
          &:hover {
            opacity: 0.5;
            transition: all 0.5s ease-out;
          }
        }
      }
      .measurement-setting-box {
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
        div {
          display: flex;
          &.hidden {
            display: none;
          }
          align-items: center;
          margin-bottom: 5px;
          span {
            color: black;
            font-size: 12px;
            margin-right: 5px;
          }
        }
      }
    }
  }

  .editGoal__form__form-container__btn-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    button {
      margin-right: 10px;
    }
  }
}
