.daily-container {
  .daily-container__previousDaily-date {
    font-weight: 600;
    font-size: 25px;
  }

  .daily-container__progress-bar-container {
    h4 {
      margin-bottom: 5px;
    }
  }
}

.daily-container__back-btn-container {
  margin-bottom: 20px;
}
