.monthly-container {
  .monthly-container__previousMonthly-date {
    font-weight: 600;
    font-size: 25px;
  }

  .monthly-container__progress-bar-container {
    h4 {
      margin-bottom: 5px;
    }
  }
}

.monthly-container__back-btn-container {
  margin-bottom: 20px;
}
