.goal-container {
  .goal-container__previousGoal-date {
    font-weight: 600;
    font-size: 25px;
  }

  .goal-container__progress-bar-container {
    h4 {
      margin-bottom: 5px;
    }
  }
}

.goal-container__back-btn-container {
  margin-bottom: 20px;
}
