.weekly-container {
  .weekly-container__previousWeekly-date {
    font-weight: 600;
    font-size: 25px;
  }

  .weekly-container__progress-bar-container {
    h4 {
      margin-bottom: 5px;
    }
  }
}

.weekly-container__back-btn-container {
  margin-bottom: 20px;
}
