.yearly-container {
  .yearly-container__previousYearly-date {
    font-weight: 600;
    font-size: 25px;
  }

  .yearly-container__progress-bar-container {
    h4 {
      margin-bottom: 5px;
    }
  }
}

.yearly-container__back-btn-container {
  margin-bottom: 20px;
}
