.suggestion-box {
  p {
    margin-bottom: 0px;
    &.ex {
      margin: 10px 0px 20px 0px;
      font-size: 12px;
    }
  }
}

.textarea-box {
  display: flex;
  justify-content: center;
  textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    border-radius: 10px;
    width: 100%;
    resize: none;
    padding: 10px;
    outline: none;
    transition: all 0.3s ease-in-out;
    &:focus {
      outline: rgb(6, 101, 139, 0.2) 2px solid;
      background-color: rgb(184, 250, 250, 0.5);
    }
  }
}
