.goal-table-wrapper {
  margin: 15px 0px;
  background-color: rgba(245, 246, 250, 1);
  padding: 3px 20px 12px 20px;
  border-radius: 15px;

  .goal-table {
    text-align: center;
    border: none;
    color: black;
    thead {
      width: fit-content;
      color: black;
      font-weight: 900;
      font-size: 20px;
      tr {
        th {
          padding: 15px;
          border-bottom: 3px double black;
        }
      }
    }

    tbody {
      tr {
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
        td {
          padding: 20px;
          div {
            display: flex;
            align-items: center;
            input[type="number"] {
              border: none;
              margin: 0;
              padding: 0;
            }
            .fa-plus-circle {
              margin-left: 10px;
            }
          }
          &.content-td {
            max-width: 400px;
          }
        }
        &:last-child {
          border-bottom: none;
        }
      }
      .checked {
        text-decoration-line: line-through;
      }

      .importance {
        font-weight: bold;
        font-style: italic;
      }

      .A {
        color: red;
      }

      .B {
        color: orange;
      }

      .C {
        color: silver;
      }
    }
  }
}
