.goal-container {
  background-color: rgba(47, 54, 64, 0.3);
  border: solid 1px rgba(245, 246, 250, 0.5);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h2 {
    text-shadow: 1px 1px 1px rgba($color: black, $alpha: 0.2);
    margin-top: 10px;
    font-size: 27px;
    display: block;
    margin-bottom: 10px;
    font-weight: 900;
  }

  .goal-container__progress-bar-container {
    margin: 20px;
    h4 {
      margin-bottom: 5px;
    }
  }
  .goal-container__edit-btn-container {
    margin: 5px 0px 10px 0px;
  }

  margin-bottom: 20px;
}

.no-goal-messeage-box {
  background-color: rgba(47, 54, 64, 0.2);
  border: solid 1px rgba(245, 246, 250, 0.5);
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;

  p {
    width: 100%;
    line-height: 1.5em;
  }

  a {
    margin-top: 18px;
    button {
      margin: 10px;
      display: block;
    }
  }
}
.previous-goal-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px rgba(245, 246, 250, 0.8);
  background-color: rgba(47, 54, 64, 0.2);
  min-width: 300px;
  border-radius: 10px;
  padding: 20px 0px;

  p {
    font-weight: 900;
    text-shadow: 1px 1px 1px rgba($color: black, $alpha: 0.2);
    text-align: center;
    margin-bottom: 10px;
  }
  div {
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  &.not-daily {
    background-color: transparent;

    div {
      button {
        background-color: transparent;
        border: rgba(97, 221, 196, 0.884) 2px solid;
        color: rgba(97, 221, 196, 0.884);
        text-shadow: 1px 1px 1px rgba($color: white, $alpha: 0.2);
        transition: all 0.3s linear;
        border-bottom: rgba(97, 221, 196, 0.884) 4px solid;
        &:hover {
          background-color: rgba(97, 221, 196, 0.884);
          color: white;
          border-bottom: 4px solid rgba($color: #043027, $alpha: 0.4);
        }
        &:active {
          transform: translateY(1px);
        }
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .goal-container {
    background-color: transparent;
    border-radius: 0px;
    padding: 0px;
    width: min-content;
  }
}
