.goal-table-wrapper {
  margin: 15px 0px;
  background-color: rgba(245, 246, 250, 1);
  border: rgba(56, 173, 169, 0.5) solid 1px;
  padding: 3px 20px 12px 20px;
  border-radius: 15px;

  .goal-table {
    text-align: center;
    border: none;
    color: rgb(0, 0, 0);
    thead {
      width: fit-content;
      color: rgb(0, 0, 0);
      font-weight: 700;
      font-size: 20px;
      tr {
        th {
          width: max-content;
          padding: 10px;
          // border-bottom: 3px double rgba(22, 160, 133, 1);
          border-bottom: 3px double black;
          &.th-imp {
            div {
              width: max-content;
            }
          }
          div {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

    tbody {
      tr {
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
        td {
          position: relative;
          padding: 20px;
          div {
            display: flex;
            align-items: center;
            span.measureName-span {
              display: inline-block;
              font-size: 12px;
              width: max-content;
            }
            input[type="number"] {
              background-color: transparent;
              border: none;
              margin: 0;
              padding: 0;
              color: rgb(0, 0, 0);
            }
            i {
              cursor: pointer;
              // color: rgba(22, 160, 133, 1);
              color: inherit;
              &.fa-plus-circle {
                margin-left: 10px;
              }
              &:hover {
                opacity: 0.8;
                transform: translateY(1px);
              }
            }
          }
          &.content-td {
            min-width: 100px;
            max-width: 400px;
          }
        }
        &:last-child {
          border-bottom: none;
        }
      }
      .checked {
        text-decoration-line: line-through;
      }

      .importance {
        font-weight: bold;
        font-style: italic;
      }

      .A {
        color: red;
      }

      .B {
        color: orange;
      }

      .C {
        color: silver;
      }
    }
  }
}

@media screen and (max-width: 899px) {
  .goal-table-wrapper {
    .goal-table {
      tbody {
        tr {
          td {
            padding: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .goal-table-wrapper {
    .goal-table {
      thead {
        tr {
          th {
            font-size: 17px;
            padding: 7px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .goal-table-wrapper {
    .goal-table {
      thead {
        tr {
          th {
            font-size: 14px;
            padding: 5px;
          }
        }
      }

      tbody {
        tr {
          td {
            font-size: 10px;
            padding: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .goal-table-wrapper {
    .goal-table {
      thead {
        tr {
          th {
            &.th-imp {
              div {
                width: max-content;
              }
            }
            font-size: 10px;
            padding: 5px;
          }
        }
      }
    }
  }
}

// @media screen and (max-width: 375px) {
//   .goal-table-wrapper {
//     .goal-table {
//       thead {
//         tr {
//           th {
//             &.th-imp {
//               div {
//                 width: max-content;
//               }
//             }
//             font-size: 10px;
//             padding: 5px;
//           }
//         }
//       }

//       tbody {
//         tr {
//           td {
//             &.content-td {
//             }
//           }
//         }
//       }
//     }
//   }
// }
