header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;

  div {
    border: rgba(0, 0, 0, 0.5) solid 1px;
    transform: translateY(-70%);
    opacity: 0.1;
    color: transparent;
    border-radius: 10px;
    width: fit-content;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 246, 250);
    transition: all 0.2s ease-in;
    &:hover {
      transform: translateY(0%);
      color: rgba(0, 0, 0);
      opacity: 1;
    }
    p {
      margin-right: 10px;
      font-style: italic;
    }

    a {
      background-color: rgba(241, 196, 15, 0.7);
      color: rgba(245, 246, 250);
      text-shadow: 1px 1px 1px rgba($color: black, $alpha: 0.2);
      border-radius: 5px;
      border: 1px solid rgba(128, 128, 128, 0.5);
      border-bottom: 4px solid rgba($color: gray, $alpha: 0.4);
      text-align: center;
      font-weight: 900;
      width: fit-content;
      display: block;
      padding: 10px 10px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &.profile-link {
        margin-right: 5px;
      }
      &.join-link {
        margin-right: 20px;
      }
      &:hover {
        background-color: rgba(241, 196, 15, 0.5);
        transform: translateY(1px);
        border-bottom: 3px solid rgba($color: gray, $alpha: 0.4);
      }
      &:active {
        transform: translateY(2px);
        border-bottom: 2px solid rgba($color: gray, $alpha: 0.4);
      }
    }
  }
}

@media screen and (max-width: 899px) {
  header {
    display: flex;
    justify-content: flex-end;

    div {
      border: rgba(0, 0, 0, 0.5) solid 1px;
      opacity: 0.1;
      color: transparent;
      border-radius: 10px;
      width: fit-content;
      padding: 10px;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(245, 246, 250);
      transition: all 0.2s ease-in;

      &:hover {
        transform: translateY(0%);
        color: rgba(0, 0, 0);
        opacity: 1;
      }
      p {
        margin-right: 10px;
        font-style: italic;
      }

      a {
        background-color: rgba(241, 196, 15, 0.8);
        color: rgba(245, 246, 250);
        text-shadow: 1px 1px 1px rgba($color: black, $alpha: 0.2);
        border-radius: 5px;
        border-bottom: 4px solid rgba($color: gray, $alpha: 0.4);
        text-align: center;
        font-weight: 900;
        display: block;
        padding: 10px 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &.profile-link {
          min-width: 55px;
        }
        &.logout-link {
          min-width: 65px;
        }
        &.quote-link {
          margin-right: 5px;
        }
        &.join-link {
          margin-right: 20px;
        }
        &:hover {
          transform: translateY(1px);
          border-bottom: 3px solid rgba($color: gray, $alpha: 0.4);
        }
        &:active {
          transform: translateY(2px);
          border-bottom: 2px solid rgba($color: gray, $alpha: 0.4);
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  header {
    div {
      font-size: 10px;
    }
  }
}
