header {
  display: flex;
  justify-content: flex-end;

  div {
    transform: translateY(-70%);
    opacity: 0.1;
    color: transparent;
    border-radius: 10px;
    width: 10%;
    min-width: 150px;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(255, 255, 255);
    transition: all 0.2s ease-in;
    &:hover {
      transform: translateY(0%);
      color: rgba(0, 0, 0);
      opacity: 1;
    }

    a {
      text-align: center;
      font-weight: 700;
      width: fit-content;
      margin-right: 20px;
      padding: 0px;
      display: block;
      padding: 20px 0px;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
