@keyframes hop {
  0% {
    transform: translate(0%, 0%) scale(1.25, 0.75);
  }
  50% {
    transform: translate(0%, -100%) scale(1, 1);
  }
  55% {
    transform: translate(0%, -100%) rotate(15deg);
  }
  60% {
    transform: translate(0%, -100%) rotate(-15deg);
  }
  65% {
    transform: translate(0%, -100%) rotate(15deg);
  }
  70% {
    transform: translate(0%, -100%) rotate(-15deg);
  }
  100% {
    transform: translate(0%, 0%) scale(1.25, 0.75);
  }
}
.form-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.5);
  position: relative;
  margin-top: 130px;
  background-color: white;
  padding: 20px;
  color: black;
  border-radius: 15px;
  .errorMessage-box {
    position: absolute;
    top: -35px;
  }
  h1 {
    text-align: center;
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 30px;
  }
  p {
    text-align: center;
    margin-bottom: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    .input-box {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      label {
        width: max-content;
      }
      input {
        background-color: transparent;
        margin-left: 5px;
        border: none;
        padding: 0px 5px;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
        transition: 0.3s ease-in-out all;
        &:focus {
          outline: none;
          text-decoration-color: rgb(27, 213, 234);
        }
      }
      .validation-check-btn {
        margin-left: 5px;
        padding: 0;
        border-radius: 0;
        border: none;
        background-color: transparent;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: rgba(241, 196, 15, 1);
          text-shadow: 0.5px 0.5px 0.5px rgba(128, 128, 128, 0.8);
        }
      }
    }

    .pw-confirm {
      margin: 20px 0px;
    }
    .info-box {
      p {
        font-size: 12px;
        &.valid {
          color: rgba(46, 204, 113, 1);
        }
        &.invalid {
          color: rgba(231, 76, 60, 1);
        }
      }
    }
    .btn-box {
      margin-top: 10px !important;
      display: flex;
      justify-content: center;
    }
  }
  .social {
    background-color: rgba(22, 160, 133, 0.8);
    margin-top: 0;
    color: white;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    font-weight: 900;
  }
  .image-box {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    img {
      height: 30px;
      width: 30px;
      margin: 5px;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .form-wrapper {
    margin-top: 70px;
    padding: 20px 10px;
    h1 {
      text-align: center;
      margin-bottom: 15px;
      font-weight: 900;
      font-size: 30px;
    }
    p {
      font-size: 14px;
    }
    form {
      padding: 0px 0px;
      width: 250px;
      .input-box {
        margin-top: 10px;
        display: flex;
        align-items: center;
        label {
          font-size: 12px;
        }
        input {
          width: 100px;
          background-color: transparent;
          margin-left: 5px;
          border: none;
          padding: 0px 5px;
          border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
          transition: 0.3s ease-in-out all;
          &:focus {
            outline: none;
            background-color: rgba(241, 196, 15, 0.8);
            color: white;
            border-radius: 10px;
          }
        }

        .btn-box {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
