@keyframes hop {
  0% {
    transform: translate(0%, 0%) scale(1.25, 0.75);
  }
  50% {
    transform: translate(0%, -100%) scale(1, 1);
  }
  55% {
    transform: translate(0%, -100%) rotate(15deg);
  }
  60% {
    transform: translate(0%, -100%) rotate(-15deg);
  }
  65% {
    transform: translate(0%, -100%) rotate(15deg);
  }
  70% {
    transform: translate(0%, -100%) rotate(-15deg);
  }
  100% {
    transform: translate(0%, 0%) scale(1.25, 0.75);
  }
}
.form-wrapper {
  position: relative;
  margin-top: 130px;
  background-color: white;
  padding: 20px;
  color: black;
  border-radius: 15px;
  .errorMessage-box {
    position: absolute;
    top: -35px;
  }
  h1 {
    text-align: center;
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 30px;
  }
  div.greeting-box {
    strong {
      position: relative;
      i.title-fish {
        color: rgba(231, 76, 60, 1);
        animation: hop 1s ease-in-out infinite;
      }
    }
  }
  p {
    text-align: center;
    margin-bottom: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    .input-box {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      label {
        width: max-content;
      }
      input {
        background-color: transparent;
        margin-left: 5px;
        border: none;
        padding: 0px 5px;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
        transition: 0.3s ease-in-out all;
        &:focus {
          outline: none;
          background-color: rgba(241, 196, 15, 0.8);
          color: white;
          border-radius: 10px;
        }
      }
      .validation-check-btn {
        margin-left: 5px;
        padding: 0;
        border-radius: 0;
        border: none;
        &:hover {
          background-color: transparent;
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }

    .pw-confirm {
      margin: 20px 0px;
    }
    .info-box {
      p {
        font-size: 12px;
        &.valid {
          color: rgba(46, 204, 113, 1);
        }
        &.invalid {
          color: rgba(231, 76, 60, 1);
        }
      }
    }
    .btn-box {
      display: flex;
      justify-content: center;
    }
  }
  .social {
    margin-top: 10px;
    font-weight: 900;
  }
  .image-box {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    img {
      height: 30px;
      width: 30px;
      margin: 5px;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
