.form-wrapper {
  position: relative;
  margin-top: 130px;
  background-color: rgba(245, 246, 250, 1);
  padding: 20px;
  color: black;
  border-radius: 15px;
  .errorMessage-box {
    position: absolute;
    top: -35px;
  }
  h1 {
    text-align: center;
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 30px;
  }
  .greeting-box {
    margin-bottom: 20px;
    p {
      margin: 8px 0px;
      text-align: center;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    .input-box {
      margin-top: 10px;
      display: flex;
      align-items: center;
      input {
        background-color: transparent;
        margin-left: 5px;
        border: none;
        padding: 0px 5px;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
        transition: 0.3s ease-in-out all;
        &:focus {
          outline: none;
          background-color: rgba(241, 196, 15, 0.8);
          color: white;
          border-radius: 10px;
        }
      }

      .btn-box {
        display: flex;
        justify-content: center;
      }
    }
    .no-id {
      font-size: 12px;
      .to-join {
        margin-left: 5px;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
  .social {
    background-color: rgba(22, 160, 133, 0.8);
    margin-top: 0;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-weight: 900;
  }
}
