@keyframes fix {
  0% {
    transform: translateY(-10px);
  }
  33% {
    transform: translateY(-15px);
  }
  66% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media screen and (min-width: 900px) {
  aside.no-fix {
    transform: translateX(-95%);
    background-color: rgba(245, 246, 250, 1);
    transition: all 0.3s ease-in;
    opacity: 0.1;
    color: transparent;
    margin-top: 10%;
    position: absolute;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    padding: 10px;
    width: 110px;
    &:hover {
      opacity: 1;
      transform: translateX(0%);
      color: transparent;
      ul {
        li.fix-btn-container {
          display: flex;
          justify-content: flex-start;
          i {
            transform: translateY(-10px);
            color: black;
            cursor: pointer;
            &:hover {
              opacity: 0.5;
              animation: fix 0.9s ease-in infinite;
            }
          }
        }
        li.main-menu {
          padding: 10px;
          position: relative;
          color: black;
          &.highlighted {
            background-color: black;
            color: rgba(245, 246, 250, 1);
            font-weight: 900;
          }
          div.detail {
            position: absolute;
            left: 85px;
            top: 0px;
            font-weight: 500;
            ul {
              width: max-content;
              display: flex;
              flex-direction: column;
              li {
                background-color: rgba(128, 128, 128, 0.5);
                box-sizing: content-box;
                padding: 10px;
                width: 100%;
                text-align: center;
                border-bottom: 0.5px solid rgba(245, 246, 250, 1);
              }
            }
          }
        }
      }
    }
  }

  aside.fix {
    background-color: rgba(245, 246, 250);
    margin-top: 10%;
    position: absolute;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    padding: 10px;
    width: 110px;
    ul {
      li.fix-btn-container {
        display: flex;
        justify-content: flex-start;
        i {
          transform: translateY(-5px);
          color: black;
          cursor: pointer;
          &:hover {
            opacity: 0.5;
          }
        }
      }
      li.main-menu {
        padding: 10px;
        position: relative;
        color: black;
        &.highlighted {
          background-color: rgba(26, 188, 156, 0.8);
          color: rgba(245, 246, 250, 1);
          font-weight: 900;
        }
        div.detail {
          position: absolute;
          left: 85px;
          top: 0px;
          font-weight: 500;
          ul {
            width: max-content;
            display: flex;
            flex-direction: column;
            li {
              background-color: rgba(128, 128, 128, 0.5);
              box-sizing: content-box;
              padding: 10px;
              width: 100%;
              text-align: center;
              border-bottom: 0.5px solid rgba(245, 246, 250, 1);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 899px) {
  aside {
    display: flex;
    justify-content: center;

    ul {
      margin: 3% 0%;
      border-radius: 10px;
      padding: 3px;
      border: 1px solid rgba(245, 246, 250, 1);
      width: max-content;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      li.fix-btn-container {
        i {
          display: none;
        }
      }
      li.main-menu {
        background-color: rgba(22, 160, 133, 0.5);
        padding: 10px;
        position: relative;
        border-radius: 7px;
        text-shadow: 1px 1px 1px rgba($color: black, $alpha: 0.2);
        color: rgba(245, 246, 250, 0.8);
        border: lightgray 1px solid;
        border-bottom: 4px solid rgba($color: lightgray, $alpha: 1);
        transition: 0.3s ease-in-out all;
        &:hover {
          transform: translateY(1px);
        }
        &.highlighted {
          background-color: rgb(22, 160, 132);
          border-bottom: 4px solid rgba($color: gray, $alpha: 0.4);
          color: rgba(245, 246, 250, 1);
          transform: translateY(1px);
          font-weight: 900;
        }
        div.detail {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  aside {
    ul {
      li.main-menu {
        font-size: 14px;
      }
    }
  }
}
