extends base.pug
include mixins/goal-container.pug

block mainBlock
    div.quote-box
        if loggedInUser.quote
            span=loggedInUser.quote
        else
            span.no-quote="아직 오늘의 한 마디를 추가하지 않으셨습니다. 지금 작성해보세요."
                
    div
        if date
            +goalContainer(goal, pageTitle, date, null, null)
        else
            +goalContainer(goal, pageTitle, null, termStart, termEnd)

block scriptBlock 
    script(src="/assets/js/currentGoal.js") 