extends base.pug
include mixins/daily-container.pug
include mixins/weekly-container.pug

block mainBlock
    div.home__main__divider
        div.home__main__daily
            +dailyContainer(daily, pageTitle)

        div.home__main__weekly
            +weeklyContainer(weekly, pageTitle)

block scriptBlock 
    script(src="/assets/js/home.js") 