extends base.pug
include mixins/daily-table.pug

block headerBlock

block mainBlock
    if daily
        div.daily-container
            form(method="post") 
                h2.daily-container__previousDaily-date=date
                +dailyTable(daily)
            div.daily-container__progress-bar-container
                h4 진행 상황: 
                    span(class="progress-point")
                progress(max="100")
            div.daily-container__back-btn-container
                a(href="/")
                    button="뒤로 가기"
    else
    //- 해당 날짜에 일일 목표 없을 때 메시지
