extends base.pug
include mixins/goal-container.pug

block mainBlock
    if date
        if goal
            +goalContainer(goal, pageTitle, date, null, null)
        else
            +goalContainer(null, pageTitle, date, null, null)
    else if termStart
        if goal
            +goalContainer(goal, pageTitle, null, termStart, termEnd)
        else
            +goalContainer(null, pageTitle, null, termStart, termEnd)

block scriptBlock 
    script(src="/assets/js/previousGoal.js") 