extends base.pug
include mixins/monthly-container.pug

block mainBlock
    if lastMonthly
        +monthlyContainer(lastMonthly, pageTitle, date)
    else
        +monthlyContainer(monthly, pageTitle, date)

block scriptBlock 
    script(src="/assets/js/previousMonthly.js") 