extends base.pug

block mainBlock
    div.form-wrapper
        h1 오늘의 한마디를 등록해보세요!
        div.suggestion-box
            p 힘이 나는 문구라면 뭐든 좋아요.
            p.ex ex: 좌우명, 다짐, 명언, 영화 대사
        form(method="POST")
            div.input-box.textarea-box 
                textarea(name="quote", cols="30", rows="10")=loggedInUser.quote
            div.btn-box 
                button 완료