header
    div.menu-open-btn
        i.fa-solid.fa-caret-down
    div.menu-box
        if loggedIn
            p=lang==="ko" ? `힘내요, ${loggedInUser.name}님. 할 수 있어요!` : `Don't give up. You can do it, ${loggedInUser.name}!`
            div
                a(href="/user/profile").profile-link=lang==="ko" ? "프로필" : "Profile"
                a(href="/user/logout").logout-link=lang==="ko" ? "로그아웃" : "Log Out"
        else
            div
                a(href="/join").join-link=lang==="ko" ? "가입" : "Sign Up"
                a(href="/login")=lang==="ko" ? "로그인" : "Log In"
        i.fa-solid.fa-caret-up.menu-close-btn
