div.oauth-box   
    a(href="/user/auth/github") 
        img(src="https://cdn-icons-png.flaticon.com/512/25/25231.png")
    a(href="/user/auth/google") 
        img(src="https://www.google.com/images/branding/googleg/1x/googleg_standard_color_128dp.png")
    a(href="/user/auth/kakao") 
        img(src="https://uxwing.com/wp-content/themes/uxwing/download/10-brands-and-social-media/kakaotalk.svg")
    a(href="/user/auth/naver") 
        img(src="https://www.naver.com/favicon.ico?1")